language: go

go:
  - 1.2
  - 1.3
  - 1.3.1

env:
  - GOARCH=amd64
  - GOARCH=386

install:
  - export PATH="$HOME/gopath/bin:$PATH"
  - go get github.com/tools/godep
  - go get -t -d ./...
  - godep restore ./...

script:
  - go test -x ./...

services:
  - mongodb
  - redis-server

notifications:
  email:
    recipients:
      - albertonb@gmail.com