*{
  box-sizing:border-box;
  outline:0;
}
html,body{
  width:100%;
  margin:0
}
body{
  font-family:"Proxima Nova", "Helvetiva Neue", Helvetica, Arial, sans-serif;color:#555555;
  font-size:13px;
}
h2,p{
  margin:0;
  padding:0;
}
.content{
  width:342px;
  margin:auto;
  margin-top:50px;
}
.subtitle{
  color:#666;
  font-weight:700;
  font-size:13px;
  margin-bottom:20px;
  text-align:center;
  text-transform: uppercase;
}
.warning{
  background:#fbe1d8;
  color:#ea514f;
  font-size:14px;
  padding:15px;
  margin-bottom:20px;
}
.form .input{
  margin-bottom:15px
}
.form input{
  font-size:14px;
}
.form input[type=text],.form input[type=email],.form input[type=password]{
  width:100%;
  border:2px solid #d7d7d7;
  height:40px;
  line-height:14px;
  padding:0 10px;
}
.button{
  background:#FFF;
  border:2px solid #2d82da;
  display:inline-block;
  height:50px;
  line-height:50px;
  margin-bottom:15px;
  padding:0 13px;
  text-align:center;
  width:100%;
}